
/*Footer*/
footer {
    padding: 0;
    width: 100%;
    height: auto;
    background-color: $gray-footer;
    text-decoration: none;
    >ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        list-style: none;
            
            > li > a {
                 color: white;
                text-decoration: none;
            }

            
    }
}
.footer__brand {
    @include shrikhand;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    color: #FFF;
}
