
/*Footer*/
.footer {
    background-color: $gray-footer;
    color: #FFF;
    padding: 1rem;

    @include Smartphones {
        margin-top: 6rem;
    }

        &__brand {
            @include shrikhand;
            font-size: 29px;
            margin: 0 0 0 1rem;
            color: #FFF;
        }

        &__ul {
                list-style: none;
                margin-left: -1rem;
                margin-bottom: 10px;
            li {
                padding-bottom: 10px;
                font-size: 1.25rem;
            }
            > li > a {
                color: #FFF;
            }

            > li > a > i {
                margin-right : 10px;
            }
        }
}


