
//  Logo et Image : Header


.header{
    &__heading {
    position: relative;
    text-align: center;
    height: 4rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    z-index: 1;
    background-color: #FFF;


        &--arrow {
            position: absolute;
            left: 2rem;
            height: 2rem;
            width: 2rem;
            top: 35%;
            display: flex;
            font-size: 1.3rem;
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;
        position: relative;
        height: 32rem;

        @include Smartphones {
            height: 20rem;
        }
    }



}


//  Menus des Reataurants
.Restaurants {
    display: flex;
    flex-flow: row nowrap;
    background-color: $gray-header;
    position: relative;
    top: -2rem;
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 13rem;
    border-radius: 2rem;
    &__name {
        position: absolute;
        left: 1rem ;
        padding-bottom: 2rem;
        font-family: "Shrikhand";
        
        @include Tablets {
            margin-right: 50px;
            margin-left: 50px;
        }
    
            &--icon {
                position: absolute;
                top: 1.5rem;
                margin-left: 95%;
                cursor: pointer;
                z-index: 1;
                font-size: 30px;
    
                    &:hover{
                        font-weight: bold;
                        background: -webkit-linear-gradient($color-primary, $color-secondary);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 1;
                        transition-duration: 500ms;
                    }
                
                @include Tablets {
                    margin-right: 50px;
                }
                @include Smartphones {
                    margin-left: 90%;
                }
            }
        }
}
.cardsMenus{
    margin-top: 2rem;
    background-color: $gray-header;
    padding: 15px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    border-radius: 2rem;
}
.Menus {
    &__title {
        text-transform: uppercase;
        color: $gray-footer;
        font-weight: bold;
        font-family: "Roboto-thin";
        font-size: 20px;
        text-align: left;
        position: relative;
        left: 0.5rem;
        &::after {
            content: "";
            width: 2.5rem;
            height: 0.25rem;
            background-color: $color-tertiary;
            position: absolute;
            display: flex;
          }
    }
}
.cards {
    display: flex;
    flex-flow: row wrap;
    border-radius: 15px;
    text-align: left;
    background-color: #FFF;
    box-shadow: $shadowsCards;
    padding: 5px 10px;
    margin: 10px 2px;
    height: 50px;
    width: 20rem;
    &:hover {
        .cards__txt {
            width: 75%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .cards__price {
            width: 10%;
        }
        .cards__check--btn {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 3.35rem;
            margin-top: -5px;
            margin-left: 0;
            @include Smartphones {
                width: 3.35rem;
            }
            @include smallPhones {
                width: 3.35rem;
            }
        }
    }
    .cards__txt {
        display: block;
        margin: 4px 2px;
        line-height: 0.5rem;
        width: 88%;
        h3, p {
            margin: 0;
            padding: 8px;
            font-size: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
    .cards__price {
        display: flex;
        justify-content: center;
        width: 10%;
    }
    .cards__check--btn {
        display: none;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
        border: 1px solid $color-tertiary;
        padding: 0rem;
        font-size: 1.2rem;
        @include smallPhones {
            width: 25rem;
        }
    }
    .fa-check-circle {
        color: #fff;
    }
}


.order {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10rem;
    height: 3rem;
    top: 25rem;
    left: 33rem;
    text-align: center;
    border-radius: 2rem;
    &:hover {
        box-shadow: $shadows;
    }
    &--btn {
        background-image: linear-gradient(10deg, $color-primary, $color-secondary );
        width: 200px;
        border: none;
        border-radius: 50px;
        padding: 15px;
        color: #fff;
        font-weight: 500;
        margin: 40px auto;
        cursor: pointer;
        font: bold 15px "Roboto-medium"
    }
    @include Tablets {
        top: 45rem;
        left: 20rem;
    }
    @include Smartphones{
        top: 65rem;
        left: 8rem;
    }
    @include smallPhones{
        top: 60rem;
        left: 06rem;
    }
}

.Rest-Pres {
    @include Smartphones {
        width: 100%;
    }
}


