
//  Logo et Image : Header


.header{
    &__heading {
    position: relative;
    text-align: center;
    height: 4rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    z-index: 1;
    background-color: #FFF;


        &--arrow {
            position: absolute;
            left: 2rem;
            height: 2rem;
            width: 2rem;
            top: 35%;
            display: flex;
            font-size: 1.3rem;
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;
        position: relative;
        height: 32rem;

        @include Smartphones {
            height: 20rem;
        }
    }



}


//  Menus des Reataurants

.Restaurants {
    display: flex;
    flex-flow: row nowrap;
    background-color: $gray-header;
    position: relative;
    top: -2rem;
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 13rem;
    border-radius: 2rem;

    @include Tablets {
        max-width: 1200px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: 96.5%;
    }
    @include Smartphones {
        padding-bottom: 15rem;
        max-width: 741px;
        height: 1130px;
        width: 100%;
        top: -5rem;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
    }

    &__name {
    position: absolute;
    left: 1rem ;
    margin-bottom: 2rem;
    font-family: "Shrikhand";
    
    @include Tablets {
        margin-right: 50px;
        margin-left: 50px;
    }

        &--icon {
            position: absolute;
            top: 1.5rem;
            margin-left: 95%;
            cursor: pointer;
            z-index: 1;
            font-size: 30px;

                &:hover{
                    font-weight: bold;
                    background: -webkit-linear-gradient($color-primary, $color-secondary);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 1;
                    transition-duration: 500ms;
                }
            
            @include Tablets {
                margin-right: 50px;
            }
            @include Smartphones {
                margin-left: 90%;
            }
        }
    }


}

.Restaurants__Menus {

    @include Smartphones {
        margin-top: 0;
    }


        &--Title {
            position: relative;
            top: 4rem;
            left: 2rem;
            font-weight: lighter;
            &::after {
                content: "";
                width: 2.5rem;
                height: 0.25rem;
                background-color: $color-tertiary;
                position: absolute;
                left: 0;
                top: 2rem;
              }
            @include Smartphones {
                margin-top: 0;
            }
        }
    
    
        &-boxes {
            position: relative;
            background-color: #FFFFFF;
            box-shadow: $shadowsCards;
            margin: 1rem 1.5rem 0 2rem;
            border-radius: 1rem;
            width: 23rem;
            height: 4.6rem;
            top: 4rem;
            left: 0;
            overflow: hidden;
            cursor: pointer;
            text-overflow: ellipsis;

            @include Smartphones {
                width: 95%;
                margin-bottom: 0;
            }
            @include smallPhones {
                margin: 1rem;
            }
            h3{
                
                position: relative;
                top: 0;
                left: 1rem;
                width: 20rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @include Smartphones { font-size: 1rem;}
            }

            p {
                align-items: center;
                position: relative;
                top: -0.8rem;
                left: 1rem;
                font-weight: lighter;
                width: 20rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            
        }

}

.cards {
    &__euros {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        top: -2.8rem;
        left: -1rem;
    }
}

.order {
    @include headerCenter;
    position: absolute;
    top: 29rem;
    right: 39em;
    height: 1em;
    width: 10rem;
    padding: 1rem;
    background-image: linear-gradient(0deg, $color-primary, $color-secondary );
    border-radius: 2rem;

        p {
            position: relative;
            color: #FFF;
            font: bold 18px "Roboto", sans-serif;
        }
    &:hover {
    cursor: pointer;
    box-shadow: $shadows;
    }

    @include Tablets {
        left: 18rem;
        top: 69rem;
    }

    @include Smartphones {
        left: 7rem;
        top: 73rem;
        height: 1rem;
    }

    @include smallPhones {
        left: 5.5rem;
    }
}

.Rest-Pres {
    @include Smartphones {
        width: 100%;
    }
}


