@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../fonts/Shrikhand/Shrikhand-Regular.ttf");
}
/* couleurs utilisées */
/*Mixins : mise en forme */
/*Breakpoints : Responsive*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes principalLoader {
  100% {
    opacity: 0.7;
    z-index: 2;
  }
}
@keyframes menusAppear {
  0% {
    transform: translateY(-3rem) scale(0);
    z-index: 0;
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.35;
  }
  75% {
    opacity: 0.65;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    z-index: 99;
  }
}
@keyframes check {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes checkAppear {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*
@keyframes menusAppear {
    0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1);
  }
}
*/
/*
@keyframes menuAppear {
  0% {
      transform: translateY(-1px) scaleY(2.5) scaleX(0.2);
      filter: blur(30rem);
      opacity: 0;
  }
  100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      filter: blur(0);
      opacity: 1;
  }
}
*/
/*Règles Générales de la page*/
body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font: 15px "roboto", sans-serif;
  background-color: #F3F3F3;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/*Footer*/
.footer {
  background-color: #353535;
  color: #FFF;
  padding: 1rem;
}
@media (max-width: 759px) {
  .footer {
    margin-top: 6rem;
  }
}
.footer__brand {
  font: 20px "shrikhand", sans-serif;
  font-size: 29px;
  margin: 0 0 0 1rem;
  color: #FFF;
}
.footer__ul {
  list-style: none;
  margin-left: -1rem;
  margin-bottom: 10px;
}
.footer__ul li {
  padding-bottom: 10px;
  font-size: 1.25rem;
}
.footer__ul > li > a {
  color: #FFF;
}
.footer__ul > li > a > i {
  margin-right: 10px;
}

/*Header pour toutes les pages*/
.header__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  position: relative;
}
.header__heading--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
@media (max-width: 759px) {
  .header__heading {
    padding: 3px;
  }
}
.header__heading__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6E6E6;
  padding: 0;
  flex-basis: 100%;
  margin: 0;
  font-size: 20px;
}
.header__heading__location__places {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #E6E6E6;
  height: 40px;
  font-size: 20px;
  text-align: center;
  width: 200px;
}

/*Règle Générale d'écriture*/
.title {
  font: bold 30px "Roboto-bold", sans-serif;
}

.header__heading {
  position: relative;
  text-align: center;
  height: 4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1;
  background-color: #FFF;
}
.header__heading--arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 35%;
  display: flex;
  font-size: 1.3rem;
}
.header__img {
  object-fit: cover;
  width: 100%;
  position: relative;
  height: 32rem;
}
@media (max-width: 759px) {
  .header__img {
    height: 20rem;
  }
}

.Restaurants {
  display: flex;
  flex-flow: row nowrap;
  background-color: #F3F3F3;
  position: relative;
  top: -5rem;
  max-width: 1350px;
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 3rem;
  border-radius: 2rem;
}
.Restaurants__name {
  position: absolute;
  left: 1rem;
  padding-bottom: 2rem;
  font-family: "Shrikhand";
}
.Restaurants__name--icon {
  position: absolute;
  top: 1.5rem;
  margin-left: 95%;
  cursor: pointer;
  z-index: 1;
  font-size: 30px;
}
.Restaurants__name--icon:hover {
  font-weight: bold;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition-duration: 500ms;
}
@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .Restaurants__name--icon {
    margin-right: 50px;
  }
}
@media (max-width: 759px) {
  .Restaurants__name--icon {
    margin-left: 90%;
  }
}

.cardsMenus {
  margin-top: 3rem;
  background-color: #F3F3F3;
  padding: 15px 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  border-radius: 2rem;
}

.Menus__title {
  text-transform: uppercase;
  color: #353535;
  font-weight: bold;
  font-family: "Roboto-thin";
  font-size: 20px;
  text-align: left;
  position: relative;
  left: 0.5rem;
}
.Menus__title::after {
  content: "";
  width: 2.5rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  display: flex;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  border-radius: 15px;
  text-align: left;
  background-color: #FFF;
  box-shadow: 17px 24px 19px 0px rgba(53, 53, 53, 0.21);
  padding: 8px 8px;
  margin: 10px 2px;
  height: 50px;
  width: 22rem;
}
@media (max-width: 518px) {
  .cards {
    width: 17rem;
  }
}
.cards:hover .cards__txt {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards:hover .cards__price {
  width: 10%;
}
.cards:hover .cards__check--btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.8rem;
  width: 3.45rem;
  margin-top: -5px;
  margin-left: 0;
}
@media (max-width: 759px) {
  .cards:hover .cards__check--btn {
    width: 3.35rem;
  }
}
@media (max-width: 518px) {
  .cards:hover .cards__check--btn {
    width: 2.7rem;
  }
}
.cards__txt {
  display: block;
  margin: 4px 2px;
  line-height: 0.5rem;
  width: 88%;
}
.cards__txt p {
  font-size: 13.5px;
}
.cards__txt h3, .cards__txt p {
  margin: 0;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards__txt h3::first-letter, .cards__txt p::first-letter {
  text-transform: uppercase;
}
.cards__price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10%;
}
.cards__check--btn {
  display: none;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  border: 1px solid #99E2D0;
  padding: 0rem;
  font-size: 1.3rem;
}
@media (max-width: 518px) {
  .cards__check--btn {
    width: 25rem;
  }
}
.cards .fa-check-circle {
  color: #fff;
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10rem;
  height: 3rem;
  top: 25rem;
  left: 33rem;
  text-align: center;
  border-radius: 2rem;
}
.order:hover {
  cursor: pointer;
  opacity: 0.6;
  box-shadow: 0px 0px 19px 0px rgba(53, 53, 53, 0.38);
}
.order--btn {
  background-image: linear-gradient(10deg, #9356DC, #FF79DA);
  width: 200px;
  border: none;
  border-radius: 50px;
  padding: 15px;
  color: #fff;
  font-weight: 500;
  margin: 40px auto;
  cursor: pointer;
  font: 16px "Roboto-medium";
}
.order--btn:hover {
  opacity: 1;
}
@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .order {
    top: 45rem;
    left: 22rem;
  }
}
@media (max-width: 759px) {
  .order {
    top: 65rem;
    left: 18rem;
  }
}
@media (max-width: 640px) {
  .order {
    top: 65rem;
    left: 12rem;
  }
}
@media (max-width: 518px) {
  .order {
    top: 63rem;
    left: 7rem;
  }
}
@media only screen and (min-width: 420px) and (max-width: 520px) {
  .order {
    left: 10rem;
  }
}
@media only screen and (min-width: 1128px) and (max-width: 1200px) {
  .order {
    top: 92%;
    left: 45%;
  }
}

@media (max-width: 759px) {
  .Rest-Pres {
    width: 100%;
  }
}

.principalLoader {
  background-color: #F3F3F3;
  z-index: 0;
  content: "";
  width: 100%;
  height: 1024px;
  opacity: 0;
  position: absolute;
  animation: principalLoader 2.5s;
  overflow: hidden;
}
@media (max-width: 518px) {
  .principalLoader {
    height: 100%;
  }
}

.loader {
  border: 18px solid #F3F3F3;
  border-top: 18px solid #9356DC;
  border-bottom: 18px solid #99E2D0;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 2.5s;
  position: absolute;
  animation-delay: 0s;
  top: 45%;
  left: 45%;
  z-index: 30;
  opacity: 0;
}
@media (max-width: 759px) {
  .loader {
    left: 30%;
  }
}

/* animation des menus */
.one {
  animation: menusAppear 3s;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.6, 1);
  animation-delay: 0s;
}

.two {
  animation: menusAppear 3s;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.6, 1);
  animation-delay: 0.5s;
}

.three {
  animation: menusAppear 3s;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.6, 1);
  animation-delay: 1s;
}

.threefour {
  animation: menusAppear 3s;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.6, 1);
  animation-delay: 1.3s;
}

.fa-check-circle {
  animation: check 2s cubic-bezier(0.25, 0.46, 0.46, 0.94) both;
}

.cards__check--btn {
  animation: checkAppear 1s ease-in-out;
}

/*
.cards {

&:nth-child(1) {
        animation-delay: 0s;
}
&:nth-child(2) {
        animation-delay: 0.4s;

}
&:nth-child(3) {
        animation-delay: 1.15s;
}
    animation: menuAppear 2.4s ease-in-out both;
}
*/
.functioning {
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-bottom: 2rem;
  width: 100%;
}
.functioning__title {
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 30px "Roboto-bold", sans-serif;
}
.functioning .functioning-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  position: relative;
}
@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .functioning .functioning-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
}
@media (max-width: 759px) {
  .functioning .functioning-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    padding: 0;
  }
}
.functioning .functioning-ul__choices {
  flex-flow: row nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 4rem;
  margin-right: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
  background-color: #F3F3F3;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  cursor: pointer;
  background-color: #F3F3F3;
}
.functioning .functioning-ul__choices:hover {
  background-color: #e9ddf8;
}
.functioning .functioning-ul__choices:hover .functioning-ul__choices--icons {
  color: #9356DC;
  filter: brightness(95%);
}
@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .functioning .functioning-ul__choices {
    margin: 0;
    width: 300px;
    margin: 15px;
  }
}
@media (max-width: 759px) {
  .functioning .functioning-ul__choices {
    margin: 0;
    padding: 0;
    width: 290px;
    margin: 15px;
  }
}
@media (max-width: 518px) {
  .functioning .functioning-ul__choices {
    width: 90%;
  }
}
.functioning .functioning-ul__choices--number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #FFF;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  position: relative;
  right: 1rem;
}
@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .functioning .functioning-ul__choices--number {
    right: 2rem;
  }
}
@media (max-width: 759px) {
  .functioning .functioning-ul__choices--number {
    right: 1.4rem;
  }
}
@media (max-width: 518px) {
  .functioning .functioning-ul__choices--number {
    right: 1rem;
  }
}
.functioning .functioning-ul__choices--txt {
  text-align: center;
  font: bold 1.2rem "Roboto", sans-serif;
  margin-left: 10px;
}
@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .functioning .functioning-ul__choices--txt {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
}
@media (max-width: 759px) {
  .functioning .functioning-ul__choices--txt {
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 16px;
  }
}
.functioning .functioning-ul__choices--icons {
  padding-right: 20px;
  font-size: 1.3rem;
  color: gray;
}
@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .functioning .functioning-ul__choices--icons {
    padding: 0 20px 0 10px;
    margin: 0;
    font-size: 20px;
  }
}

/*Header: texte home-page*/
.header__heading__quote {
  width: 100%;
  padding-bottom: 35px;
  text-decoration: none;
}
.header__heading__quote__principal {
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 32px "Roboto-bold", sans-serif;
}
@media (max-width: 759px) {
  .header__heading__quote__principal {
    text-align: center;
    font-size: 25px;
  }
}
.header__heading__quote > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 20px "Roboto-Light", sans-serif;
}
@media (max-width: 759px) {
  .header__heading__quote > h4 {
    text-align: center;
    font-size: 19px;
  }
}

.header__heading__quote__explore {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__heading__quote__explore--button {
  position: relative;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: #F3F3F3;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font: bold 19px "Roboto", sans-serif;
  width: 19rem;
  height: 4rem;
}
.header__heading__quote__explore--button:hover {
  cursor: pointer;
  opacity: 0.6;
  box-shadow: 0px 0px 19px 0px rgba(53, 53, 53, 0.38);
}

/*Restaurants : Home-Page*/
.cardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 759px) {
  .cardSection {
    display: flex;
    justify-items: center;
  }
}
.cardSection__title {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 30px "Roboto-bold", sans-serif;
}
@media (max-width: 759px) {
  .cardSection__title {
    justify-content: flex-start;
    margin-left: 7px;
    padding-top: 40px;
  }
}
.cardSection__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.cardSection__cards__Content {
  background-color: #FFF;
  width: 40rem;
  height: 320px;
  border-radius: 2rem;
  box-shadow: 17px 24px 19px 0px rgba(53, 53, 53, 0.21);
  margin: 2.5rem 1rem;
}
@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .cardSection__cards__Content {
    width: 38rem;
  }
}
@media (max-width: 759px) {
  .cardSection__cards__Content {
    padding: 0;
    margin: 1rem 0;
    width: 38rem;
    height: 260px;
  }
}
@media (max-width: 640px) {
  .cardSection__cards__Content {
    width: 23rem;
  }
}
@media (max-width: 518px) {
  .cardSection__cards__Content {
    margin: 1.2rem 0;
    width: 18rem;
    height: 240px;
  }
}
.cardSection__cards__Content--new {
  position: absolute;
  margin-left: 32rem;
  z-index: 99;
  width: 5.5rem;
  height: 2rem;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #278870;
  font-weight: bold;
  border-radius: 3px;
}
@media (max-width: 759px) {
  .cardSection__cards__Content--new {
    position: absolute;
    z-index: 999;
    right: 4rem;
  }
}
@media (max-width: 640px) {
  .cardSection__cards__Content--new {
    right: 20%;
  }
}
@media (max-width: 400px) {
  .cardSection__cards__Content--new {
    right: 15%;
  }
}
.cardSection__cards__Content--img {
  object-fit: cover;
  width: 100%;
  height: 240px;
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
  margin: 0;
  padding: 0;
}
@media (max-width: 759px) {
  .cardSection__cards__Content--img {
    width: 100%;
    height: 170px;
  }
}
@media (max-width: 518px) {
  .cardSection__cards__Content--img {
    height: 150px;
  }
}
.cardSection__cards__Content--Name {
  position: relative;
  top: -1.5rem;
  margin-left: 22px;
  font-weight: bold;
  font-size: 1.4rem;
  align-items: center;
}
.cardSection__cards__Content--Name p {
  font-size: 1rem;
  font-family: "roboto-thin", sans-serif;
  margin-top: -17px;
}
.cardSection__cards__Content--Name i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 999;
  top: -4rem;
  right: 1.6rem;
  font-size: 40px;
}
.cardSection__cards__Content--Name i:hover {
  font-weight: bold;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  z-index: 0;
  transition-duration: 500ms;
}

/*# sourceMappingURL=style.css.map */
