.functioning {
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-bottom: 2rem;
    width: 100%;

    

    &__title {
        padding-top: 10px;
        position: relative;
        @include headerCenter;
        @include titleBold;
    }

    .functioning-ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        position: relative;

        @include Tablets {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

        @include Smartphones {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        
        &__choices {    
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 4rem;
            margin-right: 3rem;
            padding-right: 3rem;
            border-radius: 1rem;
            background-color: $gray-header;
            box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
            cursor: pointer;
            background-color: $gray-header;
            &:hover {
                    background-color: lighten($color-primary, 32%);
                .functioning-ul__choices--icons{
                color: $color-primary;
                filter: brightness(95%);
                }

               
            }
            @include Tablets {
                width: 270px;
                margin: 15px;
            }
            @include Smartphones {
                width: 270px;
                margin: 15px;
            }
                &--number{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    color: #FFF;
                    border: 1px solid $color-primary;
                    background-color: $color-primary;
                    width: 2rem;
                    height: 2rem;
                    position: relative;
                    right: 1rem;
                    @include Tablets {
                        right: 1.5rem;
                    }
                    @include Smartphones {
                        right: 1.4rem;
                    }

                }

                &--txt {
                    text-align: center;
                    font: bold 1.2rem "Roboto", sans-serif;
                    margin-left: 10px;

                    @include Tablets {
                        margin: 0;
                        padding: 0;
                        font-size: 16px;
                    }
                    @include Smartphones {
                        margin: 0;
                        padding: 0;
                        font-size: 16px;
                    }
                }
                &--icons{
                    padding-right: 20px;
                    font-size: 1.3rem;
                    color: darken($gray-header, 45%);
                    @include Tablets {
                        padding: 0 20px 0 10px;
                        margin: 0;
                        font-size: 20px;
                    }
                }
            }
            
        
    }
}


