.functioning {
    background-color: #fff;
    @include headerCenter;
    height: 300px;

    h3 {
        position: relative;
        @include headerCenter;
        @include titleBold;
    }
    &__choices {
        align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
         &--number{
            position: relative;
            left: 1rem;
            background-color: $color-primary;
            text-align: center;
            border-radius: 100%;
            color: #fff;
            padding: 9px 9px ;
            font-weight: bold;
            width: 32px;
            height: 32px;
            border: 2px solid $color-primary;
         }

         &--txt {
            background-color: $gray-header;
            border-radius: 20px;
            border: none;
            padding: 20px;
            width: 265px;
            margin-bottom: 25px;
            text-align: left;
            font-weight: bold;
            cursor: pointer;
            
         }

        &:hover {
            button {
                background-color: lighten($color-primary, 32%);
                cursor: pointer;
            }
            .choice__icons {
            color: $color-primary;
            filter: brightness(95%);
            }
        }
    }

}

    


.choice {
    &__icons {
        position: relative;
        left: 1rem;
        padding-right: 2rem;
        font-size: 1.2rem;
        color: darken($gray-header, 40%);

    }
}
