.quote {
    width: 100%;
    padding-bottom: 35px;
    text-decoration: none;
    >.quote__principal {
        @include headerCenter;
        @include titleHeader; 
    }
    >h4 {
        @include headerCenter;
        font: 20px "Roboto-Light", sans-serif;

    }
    

}
.quote__explore {
    @include headerCenter;
&--button{
    position: relative;
    border: none;
        border-radius: 30px;
        background-image: linear-gradient(0deg, $color-primary,$color-secondary);
        color: #fff;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        font: bold 22px "roboto",sans-serif;
        width: 19rem;
        height: 4rem;
    }
}
.functioning{
    font-size: 30px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
        .functioning__choices li {
        list-style: none;
    }

        .functioning__choices--numbers {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            position: relative;
            color: #FFF;
            background-color: $color-primary;
            border-radius: 100%;
            border: 2px solid $color-primary;
    }
    
&__title {
    @include titleBold;
}

}