
/*Restaurants : Home-Page*/
.cardSection {
    display: flex;
    flex-wrap : wrap;
    

    &--title{
        @include titleBold;
        @include headerCenter;

    }

    &__cards{
        @include headerCenter;
	    transition: all 0.3s ease;

            &__Content{
                
                background-color: #FFF;
                width: 40rem;
                height: 360px;
                border-radius: 2rem;
                box-shadow: 10px 5px 5px $gray-location;
                

                    &--img{
                    object-fit: cover;
                    width: 100%;
                    height: 240px;
                    border-radius: 1.5rem 1.5rem 0 0;
                    position: relative;
                    }

            }
            
        &:hover{
        transform: scale(1.1);
        }
    }
}