
/*Restaurants : Home-Page*/
.cardSection {
    @include headerCenter;
    width: 100%;

    @include Smartphones {
        display: flex;
        justify-items: center;
    }


    &__title{
        padding-top: 10px;
        @include headerCenter;
        @include titleBold;
        @include Smartphones { 
        justify-content: flex-start;
        margin-left: 7px;
        padding-top: 40px;}
    }
        &__cards {
            @include headerCenter;
            flex-flow: row wrap;
            margin-top: 6rem;
            margin-bottom: 6rem;


            &__Content{
                
                background-color: #FFF;
                width: 40rem;
                height: 320px;
                border-radius: 2rem;
                box-shadow: $shadowsCards;
                margin: 2.5rem 1rem;
    
                @include Tablets {
                    width: 38rem;
                }

                @include Smartphones {
                    padding: 0;
                    margin: 1rem 0;
                    width: 38rem;
                    height: 260px;
                }
                @include between {
                    
                    width: 23rem;
                }
                @include smallPhones {
                    margin: 1.2rem 0;
                    width: 18rem;
                    height: 240px;
                }
                    &--new{
                    position: absolute;
                    margin-left: 32rem;
                    z-index: 99;
                    width: 5.5rem;
                    height: 2rem;
                    background-color: $color-tertiary;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: darken($color-tertiary, 40%);
                    font-weight: bold;
                    border-radius: 3px;

                    @include Smartphones {
                        position: absolute;
                        z-index: 999;
                        right: 4rem;
                    }
                    @include between {
                        right: 20%;
                    }
                    @include smallPhones {
                        right: 3rem;
                    }

                    }

                    &--img{
                    object-fit: cover;
                    width: 100%;
                    height: 240px;
                    border-radius: 1.5rem 1.5rem 0 0;
                    position: relative;
                    margin: 0;
                    padding: 0;
                    
                    @include Smartphones {
                        width: 100%;
                        height: 170px;
                    }
                    @include smallPhones {
                        height: 150px;
                    }
                    }
            
                    &--Name {
                        
                        position: relative;
                        top: -1.5rem;
                        margin-left: 22px;
                        font-weight: bold;
                        font-size: 1.4rem;
                        align-items: center;
                    p{
                        font-size: 1rem;
                        font-family: "roboto-thin",sans-serif;
                        margin-top: -17px;
                    }
                    i{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        z-index: 999;
                        top: -4rem;
                        right: 1.6rem;
                        font-size: 40px;
                        &:hover {
                            font-weight: bold;
                            background: -webkit-linear-gradient($color-primary, $color-secondary);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            opacity: 1;
                            z-index: 0;
                            transition-duration: 500ms;
                        }
                    }
                    }

            }
            
    
        }
}