@keyframes spin {
  0% { 
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% { 
    transform: rotate(360deg);
    opacity: 1; 
  }
}

@keyframes principalLoader {
  100% {
    opacity: 0.7;
    z-index: 2;
  }
}

@keyframes menusAppear {
  0% {
    transform: translateY(-3rem) scale(0);
    z-index: 0;
    opacity: 0;
  }
  25%{opacity: 0.2;}
  50%{opacity: 0.35;}
  75%{opacity: 0.65;}
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    z-index: 99;
  }
}
//check btn hover

@keyframes check {
    0% {
    transform: rotate(-360deg);
    }
    100% {
    transform: rotate(0deg);
    }
}
@keyframes checkAppear {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(50px);
  }
  50%{
    opacity: 0;
    display: none;
  }
  100%{
    opacity: 1;
    display: flex;
    transform: translateX(0);
  }
}

/*
@keyframes menusAppear {
    0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1);
  }
}
*/
/*
@keyframes menuAppear {
  0% {
      transform: translateY(-1px) scaleY(2.5) scaleX(0.2);
      filter: blur(30rem);
      opacity: 0;
  }
  100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      filter: blur(0);
      opacity: 1;
  }
}
*/