
/*Mixins : mise en forme */
@mixin headerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin titleBold {
    font: bold 30px "Roboto-bold", sans-serif;
}
@mixin titleHeader {
    font: bold 32px "Roboto-bold",sans-serif;
}
@mixin shrikhand {
    font : 20px "shrikhand", sans-serif;
}
@mixin shadowBTN {
    cursor: pointer;
    opacity: 0.6;
    box-shadow: $shadows;
}
// animation des menus

@mixin menusAppear($delay) {
    animation: menusAppear 3s;
    animation-timing-function: cubic-bezier(.5,1.2,.6,1);
    animation-delay: $delay;
}



/*Breakpoints : Responsive*/

@mixin Tablets {
    @media only screen and (min-width : 741px) and (max-width : 1200px) {
        @content;
        }
}

@mixin Smartphones {
    @media (max-width: 740px) {
        @content;
        }
}

@mixin smallPhones {
    @media (max-width: 376px) {
        @content;
    }
}

