@mixin headerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin titleBold {
    font: bold 20px "Roboto-bold", sans-serif;
}
@mixin titleHeader {
    font: bold 25px "Roboto-bold",sans-serif;
}
@mixin shrikhand {
    font : 20px "shrikhand", sans-serif;
}
