
/*Mixins : mise en forme */
@mixin headerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin titleBold {
    font: bold 30px "Roboto-bold", sans-serif;
}
@mixin titleHeader {
    font: bold 32px "Roboto-bold",sans-serif;
}
@mixin shrikhand {
    font : 20px "shrikhand", sans-serif;
}

/*Breakpoints : Responsive*/

@mixin Tablets {
    @media only screen and (min-width : 768px) and (max-width : 1200px) {
        @content;
        }
}

@mixin Smartphones {
    @media (max-width: 760px) {
        @content;
        }
}

