
/* couleurs utilisées */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$gray-header: #F3F3F3;
$gray-footer: #353535;
$gray-location: #E6E6E6;


$shadows: 0px 0px 19px 0px rgba(53,53,53,0.38);
$shadowsCards : 17px 24px 19px 0px rgba(53,53,53,0.21);